USE WAREHOUSE {warehouse};
SELECT VERSION, FILENAME, CHECKSUM, APPLIED_AT, APPLIED_ROLE
FROM TRUST_SIGNAL_OPS.SCHEMA_MIGRATIONS ORDER BY VERSION;
SHOW TABLES IN DATABASE {database};
SHOW VIEWS IN DATABASE {database};
SHOW PROCEDURES IN SCHEMA {database}.TRUST_SIGNAL_OPS;
SHOW TASKS IN SCHEMA {database}.TRUST_SIGNAL_OPS;
